body {
	font-family: Roboto, Helvetica Neue, sans-serif;
	
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 30px;
	margin-bottom: 30px;
	
	background-color: white;
	
}

p {
	color: #4c4c4c;
}

/* title */

#title {
	
	z-index: 99;
	position: fixed;
	background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,1), rgba(255, 255, 255, 0)); 
	
	margin-top: -30px;
	padding-bottom: 55px;
	
	width: 100%;
}

h1 {
	font-family: Roboto, Helvetica Neue, sans-serif;
	text-transform: lowercase; 
}

#title-memorial {
	font-style: italic;
	color: #707070;
}

/* navigation links */

#title ul {
	font-weight: normal;
	font-style: italic;
	font-size: 20px;
	
	color: #a7a7a7;
	/* color is taken care of in ul a, but just in case*/
	
	list-style: none;
	
	margin-top: -20px;
	padding: 0;
}

#title ul li {
	display: inline;
}

#title ul li a {
	color: #a7a7a7;
}

#title ul li a:hover {
	color: #de9cc2;
	/* on hover it's a sandy kind of pink that should stay consistent with other accent colors */
}

#title ul li a:active {
	color: #c088a8;
}

.hasbullet::after {
	content: "∙";
	padding: 1px;
	color: #a7a7a7;;
}

/* links in general */

a {
	text-decoration: none;
}

/* aesthetic notes */

#initialSpacer {
	padding-top: 300px;
}

.content {
	
	max-width: 90%;
	
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* pages */
#text {
	max-width: 70%;
}

#text img {
	max-width: 100%;
}

/* post-its */


.note {
	display: inline;
	
	width: 20%;
	min-width: 200px;
}

.note img {
	
	width: inherit;
	min-width: inherit;
	
	margin-right: 10px;
	margin-bottom: 10px;
	/*background-color: #fcfad9;
		*/
	
	background: linear-gradient(#fcfad9 50%, #ffebed);
	background-attachment: fixed;
	
}



/* whiteboard */

.whiteboardNote {
	
	margin: 10px;
	
	display: inline;
	position: relative;
	
}

.whiteboardNote img {
	vertical-align: middle; /*OH Y GOD IT WORKED */
}

.small {
	width:30%;
	max-width: 350px;
}


.medium {
	width: 40%;
	max-width: 450px;
}

.large {
	display: block;
	width: 80%;
	max-width: 800px;
}